# meta files
.DS_Store
.allow-devtools-edit
.history
.jshintrc

# logs
logs
log
newrelic_agent.log

# npm
node_modules
npm-debug.log

# bower
bower_components
!assets/less/vendor/.keep
assets/less/vendor/*
!assets/javascript/vendor/.keep
public/js/vendor/*

# compiled files
!public/css/.keep
public/css/*

