{{#extend "stylesheets"}}
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/index.css">
{{/extend}}

<h1 class="title">Index to a Sample App</h1>

{{> samplePartial}}

{{#extend "scripts"}}
  <!-- Some sort of js file here -->
{{/extend}}

